%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

%% {mode, {rate, 30}}.
{mode, max}.

{duration, 60}.

{concurrent, 64}.

{driver, basho_bench_driver_reverse}.


%% {key_generator, {partitioned_sequential_int, 800000000}}.
{key_generator, {file_line_bin, "/disk/disk0/logs/elenabench/put.keys"}}.
%% {key_generator, "objects/with-new/max10/uphoto/b/c/b25059db-635b-449c-9b2c-95ea9cddcf06"}.

%% {value_generator, {fixed_bin, 104800}}.
%%
{value_generator, {uniform_bin, 1048576, 10485760}}.

%% With put a large file, should use a local file, not the value_generator
%% value_generator can only create a file less then 1GB.
%% Create the local file before bench like:
%% `dd if=/dev/zero of=5g.txt bs=1024 count=$(( 1024*1024*5 ))`
%% {value_generator_blob_file, "/tmp/data.dat"}.
{value_generator_source_size, 440485760}.

{reverse_ips, ["192.168.1.142"]}.

{reverse_port, 5000}.

{reverse_request_timeout, 60000}.

{reverse_path, ""}.
{reverse_log_file, "/disk/disk0/logs/elenabench/get.log"}.
{operations, [{get, 1}]}.

