%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{mode, max}.

%{duration, 600}.
{duration, 5}.

{concurrent, 1}.

{driver, basho_bench_driver_bitcask}.

{key_generator, uuid_v4}.
%%{key_generator, {int_to_bin_bigendian,{uniform_int, 5000000}}}.

%%{value_generator, {fixed_bin, 10000}}.
{value_generator, {uniform_bin, 1024, 1048576}}.

{operations, [{get, 1}, {put, 1}]}.

%% the second element in the list below (e.g., "../../public/bitcask") must point to
%% the relevant directory of a bitcask installation
{code_paths, ["/opt/src/bitcask", "/opt/src/bitcask/deps/eleveldb"]}.

{bitcask_keydir_mode, nif}.
{bitcask_dir, "/disk/ssd1/bitcask.nif.bench"}.

%{bitcask_dir, "/disk/sata12/bitcask.eleveldb.bench"}.
%{bitcask_keydir_mode, eleveldb}.
%{bitcask_keydir_path, "/disk/ssd1/bitcask"}.

{bitcask_flags, [o_sync]}.
