%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
% Run at max, i.e.: as quickly as possible
{mode, max}.

% Run 30 operations per second per worker
% {mode, {rate, 30}}.

{duration, 5}.

{concurrent, 10}.

{driver, basho_bench_driver_hub}.

%% {key_generator, {partitioned_sequential_int, 100000000}}.
{key_generator, ""}.


{value_generator, {function, basho_bench_driver_hub, valgen, []}}.

{hub_ips, ["127.0.0.1"]}.

{hub_port, 7071}.

{hub_path, "/10bit"}.

{operations, [{getlist, 1}]}.
