{mode, {rate, 30}}.

{duration, 5}.

{concurrent, 10}.

{driver, basho_bench_driver_hub}.

{key_generator, {partitioned_sequential_int, 100000000}}.

{value_generator, {function, basho_bench_driver_hub, valgen, []}}.

{hub_ips, ["192.168.1.200", "192.168.1.201"]}.

{hub_port, 7071}.

{hub_path, "/upx/a/b/c"}.

{operations, [{put, 1}]}.
