%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

%% {mode, {rate, 30}}.
{mode, max}.

{duration, 2}.

{concurrent, 2}.

{driver, basho_bench_driver_meta}.

{key_generator, ""}.

{value_generator, {file_line_bin, "/tmp/5.0.txt"}}.

%% With put a large file, should use a local file, not the value_generator
%% value_generator can only create a file less then 1GB.
%% Create the local file before bench like:
%% `dd if=/dev/zero of=5g.txt bs=1024 count=$(( 1024*1024*5 ))`
%% {value_generator_blob_file, "/tmp/data.dat"}.

{meta_ips, ["127.0.0.1"]}.

{meta_port, 5000}.

{meta_request_timeout, 100000}.

{meta_path, "/metas"}.

%%{operations, [{put, 4}, {get, 1}, {delete, 1}]}.
{operations, [{put, 4}]}.
