%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

%% {mode, {rate, 30}}.
{mode, max}.

{duration, 2}.

{concurrent, 16}.

{driver, basho_bench_driver_reverse}.


{key_generator, {partitioned_sequential_int, 100000000}}.
%% {key_generator, "helloworld"}.

%% {value_generator, {fixed_bin, 102400000}}.
%%
{value_generator, {uniform_bin, 1024000, 102400000}}.

%% With put a large file, should use a local file, not the value_generator
%% value_generator can only create a file less then 1GB.
%% Create the local file before bench like:
%% `dd if=/dev/zero of=5g.txt bs=1024 count=$(( 1024*1024*5 ))`
{value_generator_blob_file, "/tmp/data.dat"}.

{reverse_ips, ["127.0.0.1"]}.

{reverse_port, 9080}.

{reverse_request_timeout, 100000}.

{reverse_path, "/objects/max10/uphoto/b/c"}.

{operations, [{put, 1}]}.
