{mode, {rate, 30}}.

{duration, 5}.

{concurrent, 5}.

{driver, basho_bench_driver_reverse}.


{key_generator, {partitioned_sequential_int, 100000000}}.
%% {key_generator, "helloworld"}.

{value_generator, {fixed_bin, 1024}}.

%% With put a large file, should use a local file, not the value_generator
%% value_generator can only create a file less then 1GB.
%% Create the local file before bench like:
%% `dd if=/dev/zero of=5g.txt bs=1024 count=$(( 1024*1024*5 ))`
%% {value_generator_blob_file, "data.dat"}.

{reverse_ips, ["10.10.10.2"]}.

{reverse_port, 8080}.

{reverse_request_timeout, 10000}.

{reverse_path, "/objects/uphoto/b/c"}.

{operations, [{put, 1}]}.
