%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

%% {mode, {rate, 30}}.
{mode, max}.

{duration, 60}.

{concurrent, 32}.

{driver, basho_bench_driver_s3}.


%% {key_generator, {partitioned_sequential_int, 800000000}}.
{key_generator, uuid_v4str}.
%% {key_generator, {file_line_bin, "/basho_bench/logs/access.keys"}}.
%% {key_generator, "helloworld"}.

%% {value_generator, {fixed_bin, 104800}}.
%%
{value_generator, {uniform_bin, 1048576, 50485760}}.

%% With put a large file, should use a local file, not the value_generator
%% value_generator can only create a file less then 1GB.
%% Create the local file before bench like:
%% `dd if=/dev/zero of=5g.txt bs=1024 count=$(( 1024*1024*5 ))`
%% {value_generator_blob_file, "/tmp/data.dat"}.
{value_generator_source_size, 440485760}.

{s3_ips, ["127.0.0.1"]}.

{s3_port, 5000}.

{s3_request_timeout, 10000}.

{s3_path, "/objects/path/to/basekey"}.
{s3_log_file, "/basho_bench/logs/access.log"}.

%% {operations, [{put, 1}, {delete, 1}]}.
{operations, [{put, 3}, {get, 2}, {delete, 1}]}.
